extends model/layout.pug

block title
  title contact.html page

block content
  // Main contact page content
  main
    div.uk-height-large.uk-background-cover.uk-light.uk-flex.uk-flex-center.uk-flex-column(uk-parallax="bgy: -50" style=`background-image: url("img/title.jpg");`)
      h1.uk-text-center(uk-parallax="y: -100") Headline
      ul.uk-flex.uk-flex-center.uk-breadcrumb.my-breadcrumb(uk-parallax="y: -100")
        li Главная
        li Котакты

    //section.uk-flex.uk-flex-center.uk-flex-middle(uk-height-viewport="offset-top: true")
    //  ul.uk-breadcrumb.breadcrumb
    //    li Главная
    //    li Котакты
    //section.uk-height-medium.uk-flex.uk-flex-center.uk-flex-middle(uk-height-viewport="offset-top: true" )