extends model/layout.pug

block title
    title index.html page

block content
    // Main start page content
    main.text-container
        section.uk-flex.uk-flex-center.uk-flex-column.uk-flex-middle(uk-height-viewport="offset-top: true")
            //div.my-intro-input
            //    input#slider1(max="500" min="0" step="1" type="range" value="0")
            //    input#slider2(max="100" min="50" step="1" type="range" value="100")
            //    textarea#text(type="text" maxlength="50")
            //    h1
            //        span.text(data-text="EDIT ME") EDIT ME
            //        span(data-text="|") |

            div.my-intro-text.text
                .content
                //.cursor
            ul.uk-breadcrumb.my-futures
                li Веб разработка
                li Консалтинг
                li Поддержка
            a.my-mouse(href="#scroll-down" uk-scroll duration="1000")
                div.scroll
        section.my-present.uk-section.uk-section-large#scroll-down(uk-height-viewport="offset-top: true")
            div(uk-scrollspy="target: [uk-scrollspy-class]; cls: uk-animation-slide-left-small; delay: false;")
                div.uk-margin-remove-adjacent(style="height: 100px;")
                div.uk-container.uk-container-expand-right
                    div.uk-grid-margin.uk-grid(uk-grid)
                        div.uk-grid-item-match.uk-flex-middle.uk-first-column(class="uk-width-auto@l")
                            div.uk-panel.uk-width-1-1
                                h1.uk-heading-large.uk-scrollspy-inview.uk-animation-slide-left-small.uk-scrollspy-class(uk-scrollspy-class)
                                    span.uk-text-primary Agency
                                    | for 3D
                                    br(class="uk-visible@m")
                                    | Visuali&shy;za&shy;tion and
                                    br(class="uk-visible@m")
                                    | Virtual Reality
                                div.uk-text-large.uk-margin-large.uk-width-xlarge.uk-scrollspy-inview.uk-animation-slide-left-small.uk-scrollspy-class(uk-scrollspy-class)
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.
                        div.uk-grid-item-match(class="uk-width-expand@l")
                            div.uk-panel.uk-width-1-1
                                div.uk-position-relative.uk-margin-remove-vertical.uk-text-center(uk-parallax='y: 0,30;', style='left: -28%; top: 40px; transform: translateY(30px);')
                                    div.uk-box-shadow-medium(width='300')
                                div.uk-position-absolute.uk-width-1-1.uk-text-center(class='uk-visible@xl', uk-parallax='y: 0,-100;', style='left: 36%; top: 100px; z-index: 1; transform: translateY(0px);')
                                    img.el-image.uk-box-shadow-medium(alt='', data-src='', data-sizes='(min-width: 230px) 230px', data-width='230', data-height='144', uk-img='')
                                div.uk-position-relative.uk-margin-remove-vertical.uk-text-center.uk-container-item-padding-remove-right(uk-parallax='y: 0,-60;', style='left: 10%; transform: translateY(-60px);')
                                    img.el-image.uk-box-shadow-medium(alt='', data-src='', data-sizes='(min-width: 600px) 600px', data-width='600', data-height='375', sizes='(min-width: 600px) 600px')
                                div.uk-position-absolute.uk-width-1-1.uk-text-center(id='page#10', uk-parallax='y: 0,-350;', style='left: -20%; top: 450px; transform: translateY(-319px);')
                                    img.el-image.uk-box-shadow-medium(alt='', data-src='', data-sizes='(min-width: 320px) 320px', data-width='320', data-height='200', uk-img='', sizes='(min-width: 320px) 320px')
                                div.uk-position-relative.uk-margin-remove-vertical.uk-text-center(class='uk-visible@m', uk-parallax='y: 50,-300;', style='left: 12%; top: 130px; z-index: 1; transform: translateY(-71px);')
                                    video.uk-box-shadow-medium(width='350', src='', loop='', muted='', playsinline='', uk-video='inview', preload='none')
                                div.uk-position-relative.uk-margin-remove-vertical.uk-text-right(class='uk-visible@l uk-text-center@m', uk-parallax='y: 160,-450;', style='left: -55%; top: -20px; z-index: 1; transform: translateY(18px);')
                                    video.uk-box-shadow-medium(width='350', src='', loop='', muted='', playsinline='', uk-video='inview', preload='none')
        section.my-present-two.uk-section.uk-section-large(uk-height-viewport="offset-top: true")
            div.uk-container.uk-container-expand-right
                div.uk-grid-margin.uk-grid(uk-grid)
                    div.uk-first-column(class='uk-width-xlarge@m')
                        div.uk-heading-small.uk-margin-small(uk-parallax='y: 4vh,0; viewport: 0.25;', style='transform: translateY(0vh);')
                            a.el-link.uk-link-reset
                                span.uk-text-primary 01.
                                br(class='uk-hidden@s')
                                |  3D Modeling
                        div.uk-heading-small.uk-margin-small(uk-parallax='y: 8vh,0; viewport: 0.3;', style='transform: translateY(6.7vh);')
                            a.el-link.uk-link-reset
                                span.uk-text-primary 02.
                                br(class='uk-hidden@s')
                                |  Rendering
                        div.uk-heading-small.uk-margin-small(uk-parallax='y: 12vh,0; viewport: 0.35;', style='transform: translateY(12vh);')
                            a.el-link.uk-link-reset
                                span.uk-text-primary 03.
                                br(class='uk-hidden@s')
                                |  Film & Animation
                        div.uk-heading-small.uk-margin-small(uk-parallax='y: 16vh,0; media: @s; viewport: 0.4;', style='transform: translateY(16vh);')
                            a.el-link.uk-link-reset
                                span.uk-text-primary 04.
                                br(class='uk-hidden@s')
                                |  Post Production
                        div.uk-heading-small.uk-margin-small(uk-parallax='y: 20vh,0; viewport: 0.45;', style='transform: translateY(20vh);')
                            a.el-link.uk-link-reset
                                span.uk-text-primary 05.
                                br(class='uk-hidden@s')
                                |  AR & VR
                        div.uk-margin-large(uk-parallax='y: 24vh,0; viewport: 0.5;', style='transform: translateY(24vh);')
                                a.el-content.uk-button.uk-button-text
                                | See All Services
                    div.uk-grid-item-match(class='uk-visible@l uk-width-expand@m')
                        div.uk-panel.uk-width-1-1
                            div.uk-position-relative.uk-margin-remove-vertical.uk-text-center(class='uk-visible@l', uk-parallax='y: 0,-220;', style='left: 23%; top: -90px; z-index: 2; transform: translateY(-30px);')
                                img.el-image.uk-box-shadow-medium(alt='', data-src='', data-srcset='', data-sizes='(min-width: 300px) 300px', data-width='300', data-height='188', uk-img='', src='', sizes='(min-width: 300px) 300px', srcset='')
                            div.uk-position-absolute.uk-width-1-1.uk-text-center(class='uk-visible@l', uk-parallax='y: 0,-50; target: !.uk-section;', style='top: 40px; z-index: 1; transform: translateY(-3px);')
                                img.el-image.uk-box-shadow-medium(alt='', data-src='', data-srcset='', data-sizes='(min-width: 450px) 450px', data-width='450', data-height='281', uk-img='', src='', sizes='(min-width: 450px) 450px', srcset='')
                            div.uk-position-relative.uk-margin-remove-vertical.uk-text-center(class='uk-visible@l', uk-parallax='y: 80,-550; target: !.uk-section;', style='left: -26%; top: -80px; z-index: 1; transform: translateY(41px);')
                                img.el-image.uk-box-shadow-medium(alt='', data-src='', data-srcset='', data-sizes='(min-width: 300px) 300px', data-width='300', data-height='188', uk-img='', src='', sizes='(min-width: 300px) 300px', srcset='')
                            div.uk-position-relative.uk-margin-remove-vertical.uk-text-center(class='uk-visible@l', uk-parallax='y: 0,-240; target: !.uk-section;', style='left: 8vw; top: -90px; z-index: 1; transform: translateY(-15px);')
                                img.el-image.uk-box-shadow-medium(alt='', data-src='', data-srcset='', data-sizes='(min-width: 250px) 250px', data-width='250', data-height='156', uk-img='', src='', sizes='(min-width: 250px) 250px', srcset='')
                            div.uk-position-absolute.uk-width-1-1.uk-text-center(class='uk-visible@l', uk-parallax='y: 200,-130; target: !.uk-section;', style='top: 340px; transform: translateY(179px);')
                               video.uk-box-shadow-medium(width='350', src='', loop='', muted='', playsinline='', uk-video='inview', preload='none')
        section.uk-section.uk-section-large.uk-padding-large-top
            div.uk-container.my-contact-action
                button.uk-button.uk-button-primary(type="button" uk-toggle="target: #my-contact-modal") Напишите мне
                    //span(uk-icon="icon:  triangle-down")


