// ----------- mouse effect

.my-mouse {
  position: absolute;
  transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 28px;
  height: 50px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -12px;
  border-radius: 15px;
  //border: 2px solid #888;
  background: $global-background;
  box-shadow: 0px -6px 10px rgba(255, 255, 255, 1), 0px 4px 15px rgba(0, 0, 0, 0.15);
  -webkit-animation: intro 1s;
  animation: intro 1s;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 15px;
  }

  &:focus {
    border: none;
    outline: 0 !important;
    outline-style: none;
  }

  &:hover, &:active {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02);
    &:after {
      box-shadow: inset 0px -2px 5px rgb(255, 255, 255),
      inset 0px 2px 5px rgba(0, 0, 0, 0.15);
    }
  }

  & .scroll {
    display: block;
    width: 3px;
    height: 3px;
    margin: 6px auto;
    border-radius: 6px;
    background: $my-primary;
    -webkit-animation: finger 2s infinite;
    animation: finger 2s infinite;
  }
}

.uk-offcanvas-container {
  .my-mouse {
    transition: all 1s ease-in-out;
    opacity: 0;
    bottom: -100px;
  }
}


@keyframes intro {
  0% {
    opacity: 0;
    transform: translateY(40px) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}


@keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

// link underbar

.underbar a,
a.underbar {
  position: relative;
  text-decoration: none;
  display: inline;
  color: inherit;

  transition: all .3s ease;
}

.underbar a::after,
a.underbar::after {
  position: absolute;
  background: rgba($my-primary, 0.7);
  content: '';
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: all .3s ease;

}

.underbar a:hover::after,
a.underbar:hover::after {
  width: 100%
}
