// Import font-awesome

//$fa-font-path: "~font-awesome/fonts";
//@import '~font-awesome/scss/font-awesome.scss';

// Start custom style scss
//@import 'custom-style';

// Import responsive class
//@import 'responsive';

// 1. Import main styles
@import "./reset";
@import "./variables";

// 2. Import default variables and available mixins.
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Import UIkit.
@import "../../node_modules/uikit/src/scss/uikit-theme.scss";


.my-transition {
  transition: all .3s ease-in-out;
}

*::selection {
  background: rgba($my-primary, 0.6);
}

@import "utilite";
@import "model/header";
@import "model/footer";



.my-futures {
  align-items: center;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin: 10px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: inherit;
    //line-height: 54px;
    font-size: 1.3em;

    &:before {
      //line-height: 54px;
      font-weight: bold;
      font-size: 1.5em;
      margin: 0 10px !important;
      color: $my-primary !important;
    }
  }
}


.my-work {
  height: calc(100% - 30px);
  width: calc(100% - 15px);
  overflow: hidden;

  .my-work-card-item {

    .uk-overlay {
      margin-bottom: 15px !important;
    }

    p {
      color: $global-color !important;
      font-size: 16px;
    }

    a {
      margin-top: 15px;
      font-weight: 600;
      background-color: $my-primary !important;
      color: white !important;

      &:hover, &:visited, &:active {
        background-color: $my-primary !important;
      }
    }
  }
}