body {
  background-color: $my-black;
  padding: 0;
  overflow-x: hidden;

  @media (min-width: 960px) {
    .my-page {
    }

    padding: 12px;
  }

  @media (min-width: 1200px) {
    .my-page {
    }

    padding: 12px;

  }
}

.my-page {
  background-color: $my-background;
  overflow-x: hidden;
}

/*.my-intro-input{
  --color:0, 0%;
  --l:100%;
  --color-primary-lightest: hsl(var(--color),var(--l));
  --color-primary-light: hsl(var(--color),calc(var(--l) - 7.5%));
  --color-primary: hsl(var(--color),calc(var(--l) - 10%));
  --color-primary-dark: hsl(var(--color),calc(var(--l) - 15%));
  --color-primary-darkest: hsl(var(--color),calc(var(--l) - 25%));
  display:flex;
  //height:100vh;
  //width:100vw;
  justify-content:center;
  align-items:center;
  //background-color: var(--color-primary-dark);
  //&:before, &:after{
  //  filter:blur(5px);
  //  content:'';
  //  position:absolute;
  //  width:100%;
  //  height:100%;
  //  background:linear-gradient(-45deg, var(--color-primary-darkest) 5%, transparent 50%);
  //  //mask:$noise;
  //  top:0;
  //  left:0;
  //  opacity:1;
  //  z-index:1;
  //}
  //&:after{
  //  background:linear-gradient(135deg, var(--color-primary-light) 5%, transparent 50%);
  //}
  input{
    position:absolute;
    bottom:10vh;
    z-index:999;
    transform:translateX(150px);
    &:before{
      content:'BRIGHTNESS';
      position:absolute;
      width:100%;
      text-align:center;
      top:-35px;
      left:0;
      pointer-events:none;
      color: $my-text-color;
      //color:var(--color-primary-darkest);
    }
    &:first-of-type{
      transform:translateX(-150px);
      &:before{
        content:'HUE';
      }
    }
  }
  input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    background: transparent;
    margin-bottom: 10px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: -8px;
    background: $global-background;
    box-shadow:-5px -3px 8px var(--color-primary),
    6px 2px 12px var(--color-primary-darkest);
  }
  input[type="range"]:focus::-webkit-slider-thumb:hover {
    background: var(--color-primary-darkest);
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: var(--color-primary-darkest);
    border-radius: 1.3px;
  }

  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: var(--color-primary-darkest);
  }


  textarea{
    position:absolute;
    width:100vw;
    height:50vh;
    top:calc(50% - 25vh);
    opacity:0;
    z-index:999;
    &::selection{
      background:transparent;
    }
    &:focus{
      & ~ h1 span:not(.text){
        opacity:1;
      }
    }
  }
  h1{
    margin:0;
    font-size:8rem;
    color: $global-background;
    text-shadow:-5px -3px 8px var(--color-primary),
    6px 2px 12px var(--color-primary-darkest);
    outline:none;
    text-transform:uppercase;
    max-width:800px;
    width:auto;
    margin:0;
    position:relative;
    line-height:1;
    pointer-events:none;
    word-break:break-word;
    span{
      display:inline;
      &:nth-of-type(2){
        opacity:0;
        transition:opacity 0.2s ease-in-out;
        position:relative;
        font-size:6.5rem;
        display:inline-block;
        margin-left:1rem;
        animation:flash 0.5s ease-in-out infinite alternate;
        transform:translateY(-1.25rem);
        &:before, &:after{
          opacity:0;
        }
        @keyframes flash{
          to{
            text-shadow:0px 0px 8px var(--color-primary),
            0px 0px 12px var(--color-primary-darkest);
            color:var($global-color);
          }
        }
      }
      &:before, &:after{
        content:attr(data-text);
        position:absolute;
        display:inline;
        color:inherit;
        z-index:9;
        text-shadow:-5px -3px 3px var(--color-primary-light),
        6px 2px 5px var(--color-primary-darkest);
        //mask:$noise;
        filter:blur(7.5px);
        opacity:5;
        top:50%;
        transform:translateY(-50%);
        left:0;
        width:100%;
        height:100%;
      }
      &:after{
        -webkit-text-stroke:3px var(--color-primary-light);
        text-shadow:none;
        mask:none;
        opacity:0.25;
      }
    }
  }
}*/

.my-intro-text{
  &.text {
    width: 100%;
    text-align: center;
    height: 8.6vw;
    line-height: 9vw;
    font-size: 8.6vw;
    font-weight: 700;

    //position: absolute;
    //top: 0;
    //bottom: 0;
    //margin: auto;

    & .content{
      user-select: none;
      text-transform: uppercase;
      color: $my-black;
      display: inline-flex;

      &::after {
        height: 8.6vw;
        line-height: 9vw;
        font-size: 8.6vw;
        bottom: 0;
        right: 0;
        color: $my-primary;
        display: inline-block;
        content: '.';
        font-weight: bolder;

        animation: blink-my-intro 1s 3 linear;
      }


    }

    & .cursor{
      //color: $my-primary;
      //display: inline-block;
      //font-weight: bolder;
      //
      //animation: blink-my-intro .7s 4 linear;
    }
  }
}

@keyframes blink-my-intro {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  99%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

