body {
  background-color: $background;
  padding: 0;
  width: 100%;
  // font-size: calc(16px + 2vmin);

  a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

*::selection {
  background: rgba($primary, 0.6);
}

*,
*::before,
*::after {

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: $black;
  }

  &::-moz-placeholder {
    color: $black;
  }
}

@include screen(1440) {
  
}
@include screen(1190) {
  
}
@include screen(960) {
  
}
@include screen(768) {
  
}

// @include fluidFontSize(20px, 34px, 560px, 1440px, 18px);