$global-background: #EBECF0;
$global-color: #a3aab9;
$global-font-family: "Poppins", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$my-primary: #ee6058;
$my-text-color: #6D7587;
$my-background: #EBECF0;
$my-black: #393939;
$my-white: #EBECF0;
$my-neumorphic-shadow: 20;

$navbar-nav-item-height: 60px;

$offcanvas-bar-color-mode: dark;
$offcanvas-bar-width: 400px;
$offcanvas-overlay-background: rgba(255,255,255,0.5);
$offcanvas-bar-background: #f2f2f2;

$card-primary-background: $my-primary;

$text-primary-color: $my-primary;

