$global-background: #eaeaea;

$my-primary: #ee6058;

$navbar-nav-item-height: 60px;

$offcanvas-bar-width: 350px;
$offcanvas-overlay-background: rgba(0,0,0,0.4);
$offcanvas-bar-background: $my-primary;

$card-primary-background: $my-primary;
